/* ------ First section ------ */

.header{
	padding: 0 0 148px;
	background: #0e0f0f url(../img/header2.jpg) no-repeat fixed center center;
}

.hat{
	background: rgba(0,0,0,0);
	padding: 17px 0 7px;
}

.nav{
 width: 100%;
}

.nav__list{
	width: 100%;
}

.nav__link{
	font-size: 17px;
	font-family: 'Museo Sans Cyrl 700';
	color: #edeff3;
	transition: 0.3s all ease;
}

.nav__link:hover{
	text-decoration: underline;
	color: #edeff3;
}

.order-btn{
	width: 155px;
	padding: 8px 0;
	font-size: 13px;
	font-family: 'Museo Sans Cyrl 700';
}

.order-btn:hover{
	color: #0073C3;
}

.ico-phone{
	color: #46e6b0;
}

.offer{
  color: #fff;
  padding-top: 228px;
  text-shadow: rgb(36, 35, 33) 1px 0 10px;
}

.offer-content{
	width: 850px;
}

.main-title{
	margin-bottom: 11px;
}

.main-text{
	font-size: 29px;
	margin-bottom: 27px;
	font-family: 'Museo Sans Cyrl 100';
	text-shadow: 0 0 1px rgba(0,0,0,.1);
}

.socials{
	background: rgba(255,255,255,0.82);
	border-radius: 3px;
	box-shadow: 0 0 3px 3px rgba(255,255,255,0.66);
	/* width: 170px; */
	width: 117px;
	padding: 8px 16px;
}

.socials__links{
	display: block;
	transition: 0.2s all ease;
	width: 30px;
	height: 30px;
}

.link-facebook{
	padding: 6px;
}

.link-twitter{
	padding: 5px;
}

.link-telegram{
	padding: 5px;
}

.socials i{
	font-size: 17px;
}

.socials__link:hover{
	border: 2px solid transparent;
}

.link-facebook{
	color: #2a5e9f;
	border: 2px solid #2a5e9f;
}
.link-twitter{
	color: #43c9fd;
	border: 2px solid #43c9fd;
}

.link-telegram{
	color: #25a3d4;
	border: 2px solid #25a3d4;
}

.link-facebook:hover{
	color: #2a5e9f;
	border: 2px solid transparent;
}

.link-twitter:hover{
	color: #43c9fd;
	border: 2px solid transparent;
}

.link-telegram:hover{
	color: #25a3d4;
	border: 2px solid transparent;
}


/* ------ Second section ------ */

.img-wrapper {
	width: 300px;
	margin: 0 auto;
}

.serebro_kapli {
	width: 300px;
	height: 300px;
}

.description, .research, .instruction {
	padding: 52px 0 72px;
	background: #f1f1f3;
	position: relative;
}

.description-title{
  color: #081d42;
	text-align: center;
	margin-bottom: 41px;
}

.description-item{
	text-align: left;
}

.description-item__ico{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 0 auto 20px;
}

.description-item__ico_1{
	background: #c8cbdb url(../img/red-lamp.png) no-repeat center center;
}

.description-item__ico_2{
  background: #c8cbdb url(../img/red-box.png) no-repeat center center;
}

.description-item__ico_3{
  background: #c8cbdb url(../img/red-light.png) no-repeat center center;
}

.description-item__title{
	color: #081d42;
	margin-bottom: 13px;
}

.description-item__text{
	margin-bottom: 30px;
	font-size: 20px;
	letter-spacing: 0.02em;
	line-height: 1.5em;
}

.description-btn{
	width: 170px;
	padding: 10px 0;
	font-size: 16px;
	position: absolute;
	left: 50%;
	margin-left: -85px;
	bottom: -23px;
	font-family: 'Museo Sans Cyrl 700';
}

/* ------ Third section ------ */

.description-detailed{
	padding: 10px 0 50px;
}
/* 
.description-detailed-item{
	text-align: center;
} */

.description-detailed-item__ico{
	color: #fff;
	background: #102e62;
	width: 87px;
	height: 87px;
	border-radius: 50%;
	line-height: 87px;
	text-align: center;
	margin: 0 auto 6px;
	font-size: 50.11px;
}

.description-detailed-item__title{
  color: #081d42;
  margin-top: 30px;
  font-size: 34px;
}

.description-detailed-item__text{
	margin-top: 10px;
	letter-spacing: 0.02em;
	line-height: 1.5em;
	font-size: 18px;
}

/* ------ Forth section ------ */

.info{
	color: #081d42;
	padding: 37px 0 42px;
}

.instruction_info ul {    
	list-style-type: disc;
}

.instruction_info li {    
	display: list-item;
	margin-right: 8px;
	font-size: 18px;
}


.instruction_info__title, .news__title{
	color: #081d42;
	border-bottom: 3px solid #6f798b;
	margin-bottom: 21px;
	padding-bottom: 11px;
	font-size: 30px;
}

.instruction_info-header {
	color: #081d42;
	margin-top: 21px;
}

.instruction_info .instruction_info-header:first-child {
	margin-top: 0;
}

.instruction_info__text{
	color: #081d42;
	font-size: 18px;
	margin-top: 20px;
}

.instruction_info-info p {
	margin-top: 5px;
	margin-bottom: 0;
}

.instruction_info__paragraph{
	line-height: 1.2em;
	margin-bottom: 20px;
	font-size: 18px;
	margin-top: 5px;
}

.instruction_info__btn{
	display: block;
	color: #fff;
	border: 2px solid #fff;
	width: 170px;
	padding: 7px 0;
	text-align: center;
	margin-top: 40px;
	font-size: 15.83px;
	transition: 0.3s all ease;
}

.instruction_info__btn:hover, .instruction_info__btn:active, .instruction_info__btn:focus{
	color: #616c81;
	background: #fff;
}

/* ------ Forth section ------ */

.research {
	padding: 38px 0 50px;
	background: #fff;
}

.research-item__title {
	color: #081d42;
	font-size: 23px;
}

.research-item__text {
	color: #081d42;
	margin-top: 10px;
	font-size: 18px;
}

.research-doc {
	color: #58647A;
	display: block;
    background-color: #ECECEC;
	text-align: center;
	box-sizing: border-box;
	padding-bottom: 12px;
	border-radius: 6px;
	width: 200px;
	height: 35px;
	line-height: 35px;
	margin-top: 20px;
}

/* ------ Footer ------ */

.footer{
  background: #1f2531;
  padding-bottom: 45px;
  color: #aaabae;
  font-size: 12px;
  font-family: 'Museo Sans Cyrl 100';
  padding: 15px 0;
}

.footer p, .footer a {
	text-align: center;
	margin-top: 10px;
}

.footer-link{
	color: #aaabae;
	display: block;
	text-decoration: none;
	font-size: 18px;
}

.footer-link:hover{
	color: #aaabae;
	text-decoration: underline;
}


/*  Hamburger */
.white{
	color: #fff;
}

.nav__list_opened{
	background: rgba(0,0,0,1);
	border-radius: 12px;
	padding: 20px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	margin-top: 15px;
	position: absolute;
	top: -89px;
	right: 0;
	width: 100%;
	z-index: 999;
}

.nav__list_opened .nav__item{
	margin: 0 0 10px;
}

.nav__list_opened .nav__item a{
	margin: 0 0 10px;
	color: #fff;
	font-family: 'Museo Sans Cyrl 700';
	font-size: 15px;
	padding: 15px 0;
	border-bottom: 1px solid rgba(255,255,255,.4);
	display: block;
}




/* Modal window PHONE */

.box-modal {
	position: relative;
	width: 410px;
	padding: 48px 52px 55px;
	background: #fff;
	color: #3c3c3c;
	font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	border-radius: 5px;
	text-align: center;
}

.box-modal__title{
	color: #081d42;
	margin-bottom: 14px;
}

.box-modal__text{
	letter-spacing: 0.02em;
	margin-bottom: 33px;
}

.box-modal input{
	width: 100%;
	border: transparent;
	border-bottom: 1px solid #757888;
	color: #9e9ea1;
	padding-bottom: 16px;
	margin-bottom: 28px;
}

.box-modal-btn{
	width: 100%;
	padding: 11px;
	margin-top: -7px;
	font-size: 13px;
  font-family: 'Museo Sans Cyrl 700';
}

/* Slider Services */

.services-slider{
	width: 290px;
	margin: 38px auto 0;
	text-align: center;
}

.services-slider__item:focus{
	outline: none;
}

.services-slider__img{
	margin: 0 auto 19px;
	background: transparent;
	border-radius: 50%;
	border: 5px solid #656e8d;
	overflow: hidden;
	width: 140px;
	height: 140px;
}

.services-slider__title{
	font-size: 15.42px;
	color: #747487;
}

.services-slider__text{
	font-size: 13px;
	letter-spacing: 0.02em;
	margin: 16px 0;
}

.slick-arrow{
	color: #404048;
	font-size: 25px;
}

.services-slider__icon i{
	font-size: 14px;
	color: #2c60a0;
}

.slick-prev{
	transition: .3s ease all;
}

.slick-next{
	transition: .3s ease all;
}

.slick-prev:hover, .slick-prev:focus,.slick-next:hover, .slick-next:focus{
	color: #404048;
}

.slick-prev:hover{
	left: -29px;
}

.slick-next:hover{
	right: -29px;
}

.slick-prev:before, .slick-next:before{
	display: none;
}

.slick-dots li button:before {
    font-family: 'slick';
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    content: '';
    opacity: 1;
    background: #bdc5d6;
}

.slick-dots li.slick-active button:before {
    background: #8b9ab7;
}

.slick-dots{
	bottom: -50px;
}



/* Form for order */

.payment {
	text-align: left;
	color: #9e9ea1;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	border-bottom: 1px solid #757888;	
    padding-bottom: 16px;
    margin-bottom: 28px;
}

.payment input {
	width: 50px;
}

.payment .order_count {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}
