<!DOCTYPE html>
<html lang="ru">

<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>КОЛЛОИДНОЕ СЕРЕБРО | КУРОРТМЕДСЕРВИС</title>
	<meta name="description"
		content="Коллоидное серебро в каплях - природный пробиотик. Коллоидное серебро укрепляет иммунитет и обладает ярко выраженным противовирусным, антибактериальным и противогрибковым действием.">
	<meta name="keywords" content="купить коллоидное серебро">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="#">
	<link rel="shortcut icon" type="image/x-icon" href="#">
	<!-- OG Tags Для Снипетов-->
	<meta property="og:title" content="КОЛЛОИДНОЕ СЕРЕБРО | КУРОРТМЕДСЕРВИС">
	<meta property="og:description"
		content="Коллоидное серебро в каплях - природный пробиотик. Коллоидное серебро укрепляет иммунитет и обладает ярко выраженным противовирусным, антибактериальным и противогрибковым действием.">
	<meta property="og:type" content="article">
	<meta property="og:image" content="{% static 'img/serebro_kapli.jpg' %}">
	<meta property="og:site_name" content="КОЛЛОИДНОЕ СЕРЕБРО">
	<!-- Fonts -->
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css"
		integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/regular.css"
		integrity="sha384-zkhEzh7td0PG30vxQk1D9liRKeizzot4eqkJ8gB3/I+mZ1rjgQk+BSt2F6rT2c+I" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css"
		integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
		integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'css/preloader.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/specifications.css' %}">
	<link rel="stylesheet" href="{% static 'css/slick.css' %}">
	<link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.arcticmodal-0.3.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/media.css' %}">
</head>

<body>
	<!-- Preloader Start-->
	<div id="page-preloader">
		<div class="sk-folding-cube">
			<div class="sk-cube1 sk-cube"></div>
			<div class="sk-cube2 sk-cube"></div>
			<div class="sk-cube4 sk-cube"></div>
			<div class="sk-cube3 sk-cube"></div>
		</div>
	</div>
	<!-- Preloader End-->
	<header class="header" id="header" data-type="background" data-speed="5">
		<div class="hat" id="hat">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-10 d-none d-lg-block menu-collapse">
						<nav class="nav">
							<ul class="nav__list d-flex justify-content-around">
								<li class="nav__item">
									<a href="#description" class="nav__link">
										Описание
									</a>
								</li>
								<li class="nav__item">
									<a href="#instruction" class="nav__link">
										Инструкция
									</a>
								</li>
								<li class="nav__item">
									<a href="#research" class="nav__link">
										Клинические исследования
									</a>
								</li>
								<li class="nav__item">
									<a href="#footer" class="nav__link">
										Контакты
									</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="col-12 col-sm-12 col-lg-2 offset-lg-0 d-flex justify-content-end">
						<button type="button" class="order-btn btn order-btn-head" id="order-btn">
							<span>
								Заказать на сайте
							</span>
						</button>
						<button type="button" class="hamburger d-lg-none">
							<i class="fa fa-bars"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="offer">
			<div class="offer-content-wrapper">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="offer-content">
								<h1 class="main-title">
									Коллоидное серебро
								</h1>
								<p class="main-text">
									Коллоидное серебро. Лучшее средство против вирусов, грибков и бактерий!
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="offer-content-wrapper">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="offer-content">
								<h1 class="main-title">
									Коллоидное серебро 2
								</h1>
								<p class="main-text">
									Коллоидное серебро. Лучшее средство против вирусов, грибков и бактерий!
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="offer-content-wrapper">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="offer-content">
								<h1 class="main-title">
									Коллоидное серебро 3
								</h1>
								<p class="main-text">
									Коллоидное серебро. Лучшее средство против вирусов, грибков и бактерий!
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="description" id="description">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="description-title">
						Описание препарата
					</h2>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="img-wrapper">
						<img src="{% static 'img/serebro_kapli.jpg' %}" alt="Фото коллоидное серебро"
							class="serebro_kapli">
					</div>
				</div>
				<div class="col-md-6 col-lg-8">
					<div class="description-item">
						<p class="description-item__text">
							Коллоидное серебро в каплях - природный пробиотик. Коллоидное серебро укрепляет иммунитет и
							обладает ярко выраженным противовирусным, антибактериальным и противогрибковым действием.
						</p>
						<p class="description-item__text">
							На этом сайте представлен оригинальный препарат КОЛЛОИДНОЕ СЕРЕБРО (Производитель
							Курортмедмедсервис), который вы можете купить по цене производителя с доставкой по Москве и
							России или оформить самовывоз.
						</p>
					</div>
				</div>
				<div class="col-md-12 col-lg-12">
					<div class="description-price">
						<div class="price-info">
							<div class="price-wrapper">
								<p class="description-text">Цена: &nbsp;</p>
								<p class="old-price">325 руб.</p>
								<p class="new-price">225 руб.</p>
							</div>
							<div class="discount-wrapper">
								<p class="discount-title">Скидка действует еще: &nbsp; </p>
								<p class="description-text discount-date" id="discount-date"></p>
							</div>
						</div>
						<div class="price-additional-info">
							<p>Доставка: 300 рублей</p>
							<p>При заказе от 2000 рублей - бесплатно!</p>
						</div>
						<button type="button" class="order-btn desc-order-btn btn order-btn-head" id="desc-order-btn">
							<span>Заказать на сайте</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="description-detailed" id="description-detailed">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="description-detailed-item">
						<h3 class="description-detailed-item__title">
							<span class="red-font">Фармакологическая форма</span>
						</h3>
						<p class="description-detailed-item__text">
							Биологически активная добавка БАД к пищевым продуктам.
						</p>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="description-detailed-item">
						<h3 class="description-detailed-item__title">
							<span class="red-font">Фармакологическое действие</span>
						</h3>
						<p class="description-detailed-item__text">
							Антибактериальное широкого спектра действия, антимикробное, иммуномоделирующее.
						</p>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="description-detailed-item">
						<h3 class="description-detailed-item__title">
							<span class="red-font">Форма выпуска</span>
						</h3>
						<p class="description-detailed-item__text">
							Флакон с капельницей 50 мл.
						</p>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="description-detailed-item">
						<h3 class="description-detailed-item__title">
							<span class="red-font">Назначение</span>
						</h3>
						<p class="description-detailed-item__text">
							БАД Серебро (производитель Курортмедсервис) - источник коллоидного серебра, эффективного
							натурального антисептического средства с широким спектром антибактериального,
							противовирусного и противогрибкового действия для стимуляции неспецифического иммунитета и
							профилактики разного рода инфекций, воспалений, лечения поражений кожных и слизистых
							покровов.
						</p>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="description-detailed-item">
						<h3 class="description-detailed-item__title">
							<span class="red-font">Состав</span>
						</h3>
						<p class="description-detailed-item__text">
							Вода очищенная, коллоидное серебро (Silver colloidal). Содержание серебра - 1мг /100г.
						</p>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="description-detailed-item">
						<h3 class="description-detailed-item__title">
							<span class="red-font">Дополнительные сведения</span>
						</h3>
						<p class="description-detailed-item__text">
							В процессе проверки действия препарата КОЛЛОИДНОЕ СЕРЕБРО отмечено значительное снижение
							заболеваемости гриппом и другими ОРВИ в группе, принимавшей препарат «Серебро» в течение
							двух недель, по сравнению с контрольной группой. Особое значение имеет отсутствие
							заболеваемости ОРВИ в исследуемой группе в течение одного месяца после прекращения
							профилактического курса, в отличие от контрольной группы, где показатель заболеваемости
							составил 16%. Эти данные свидетельствуют о том, что эффект от приёма препарата стабильный, а
							не кратковременный, с положительным последействием. По данным исследований, препарат
							«Серебро» увеличивает антимикробную активность клеток системы фагоцитирующих мононуклеаров,
							равно как и содержание лимфоцитов, которые фагоцитируют ряд микроорганизмов, в том числе
							вирусы. Также представляется важным, что коллоидное серебро уничтожает не только самого
							возбудителя болезни, но и выделяемые им токсины. Препарат КОЛЛОИДНОЕ СЕРЕБРО стимулирует
							кроветворение и обменные процессы, способствует восстановлению поврежденных тканей, повышает
							адаптивные возможности организма. В заключениях о проведенных исследованиях было отмечено,
							что высокая эффективность и безопасность, хорошая переносимость и отсутствие побочных
							эффектов позволяют рекомендовать препарат «Серебро» для экстренной профилактики гриппа и
							ОРВИ в период эпидемических вспышек и сезонных подъемов заболеваемости, а также для
							профилактики осложнений течения данных заболеваний. Многолетняя практика доказывает высокую
							эффективность коллоидного серебра при местном применении при лечении вирусных и
							бактериальных ринитов, аденоидита и других заболеваниях ЛОР-органов.
						</p>
						<p class="description-detailed-item__text">
							Результаты исследований Антидопингового Центра показали, что в анализируемом образце не
							обнаружено допинговых лекарственных препаратов и их метаболитов, и препарат КОЛЛОИДНОЕ
							СЕРЕБРО (производитель Курортмедсервис) может быть использован в спортивно-медицинской
							практике.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="instruction" id="instruction">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="instruction_info">
						<h4 class="instruction_info__title">
							Инструкция
						</h4>
						<div class="instruction_info__wrapper d-flex justify-content-between">
							<div class="instruction_info__text">
								<h5 class="instruction_info-header">
									Показания к применению
								</h5>
								<p class="instruction_info__paragraph">
								<ul>
									<li>простудные заболевания;</li>
									<li>острые и хронические заболевания носоглотки, бронхов, придаточных пазух и
										лёгких;</li>
									<li>заболевания кожи, например, юношески угри, некоторые виды псориаза, грибковые
										поражения кожи, ожоги, простудные высыпания на кожных покровах, укусы насекомых;
									</li>
									<li>недостаточность работы надпочечников, что может проявиться общей слабостью,
										снижением умственной активности, скачками артериального давления и так далее;
									</li>
									<li>ревматоидный артрит;</li>
									<li>атеросклероз и другие нарушения.</li>
								</ul>
								</p>
								<h5 class="instruction_info-header">
									Противопоказания
								</h5>
								<p class="instruction_info__paragraph">
									Индивидуальная непереносимость, беременность и кормление грудью.
								</p>
								<h5 class="instruction_info-header">
									Побочные эффекты
								</h5>
								<p class="instruction_info__paragraph">
									В процессе лечения возможно развитие аллергических реакций.
								</p>
								<h5 class="instruction_info-header">
									Инструкция и дозировки по применению Коллоидного серебра
								</h5>
								<div class="instruction_info-info">
									<p class="instruction_info__paragraph">
										<b>Взрослым и детям после 14 лет:</b> внутрь, под язык, по 10 капель 2 раза в
										день в качестве терапевтической дозы и 4 раза в день на пике заболеваемости.
									</p>
									<p class="instruction_info__paragraph">
										<b>Детям от 1 года до 14 лет:</b> для лечения насморка, гайморита, полипов и
										воспалений в носоглотке закапывать в соответствии с возрастом по 1-3 капли в
										нос.
										Курс – 10 дней с перерывом в 20 дней.
									</p>
									<p class="instruction_info__paragraph">
										<b>Внимание: препарат БАД «Серебро» не обжигает и не сушит слизистую носоглотки,
											поэтому разбавлять препарат нет необходимости. Это полностью готовый к
											употреблению водный раствор коллоидного серебра.</b>
									</p>
								</div>
								</h5>
								<p class="instruction_info__paragraph">
									В процессе лечения возможно развитие аллергических реакций.
								</p>
								<h5 class="instruction_info-header">
									Хранение
								</h5>
								<p class="instruction_info__paragraph">
									При комнатной температуре не выше 25 С, оберегая от воздействия солнечных лучей.
									Длительное хранения начатого флакона – на дверце холодильника.
								</p>
								<p class="instruction_info__paragraph">
									<b>Срок годности – 3 года.</b>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="research" id="research">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="research-item">
						<h3 class="research-item__title">
							Клинические исследования
						</h3>
						<p class="research-item__text">
							Препарат БАД СЕРЕБРО (коллоидное серебро от производителя Курортмедсервис) успешно прошёл
							клиническую апробацию и рекомендуется специалистами, как эффективное противориусное и
							иммуностимулирующее средство.
						</p>
						<a href="/serebro.pdf" target="_blank" class="research-doc">Просмотерть сертификат</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer" id="footer">
		<div class="container">
			<div class="footer-content col-lg-12">
				<div class="col-lg-12">
					<p>ООО "СИС"</p>
					<p>125424, г. Москва, вн.тер.г. муниципальный округ покровское-стрешнево, ш. волоколамское, д. 108
					</p>
				</div>
				<div class="col-lg-12">
					<a href="tel:88002000280" class="footer-link">8 800 200-02-80</a>
					<a href="mailto:info@sis-tech.ru" class="footer-link">info@sis-tech.ru</a>
				</div>
				<div class="col-lg-12">
					<p>ИНН: 7733376350</p>
					<p>ОГРН: 1217700536184</p>
				</div>
			</div>
		</div>
	</footer>


	<!-- Modal Window -->
	<div style="display: none;">
		<div class="box-modal with-close-icon" id="order-modal">
			<div class="close-modal-icon">x</div>
			<div class="to_order" id="order-modal">
				<h5 class="box-modal__title">
					Заказать коллоидное серебро
				</h5>
				<p class="box-modal__text">
					Заполните форму для заказа
				</p>
				{% if messages %}
				<ul class="box-modal-messages">
					{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
						{% endfor %}
				</ul>
				{% endif %}
				<form action="/" class="form" method="POST">

					{% csrf_token %}

					{{ form.username }}
					{{ form.email }}
					{{ form.phone_number }}

					{{ form.address }}
					<div class="dropdown" id="result-dadata"></div>
					{{ form.comment }}

					<!-- Количество - натуральное число -->
					<div class="delivery-info">
						<p class="delivery-price"><span style="font-weight:bold">Доставка: </span>300 руб.</p>
					</div>
					<div class="payment">
						<div class="adaptive-wrapper">
							<p class="price"><span style="font-weight:bold">Цена: </span>225 руб.</p>

							<div class="counter-wrapper d-flex">
								<button type="button" class="counter-minus">-</button>
								<div class="counter">{{ form.order_count }}</div>
								<!-- <p class="counter-hide counter-display">0</p> -->
								<button type="button" class="counter-plus">+</button>
							</div>
						</div>

						<p class="total"><span style="font-weight: bold">Сумма:</span> <span id="payment_total">0</span>
							руб.</p>
					</div>

					<button type="submit" class="box-modal-btn btn">Заказать</button>
				</form>
			</div>
		</div>
	</div>
	<div style="display: none;">
		<div class="box-modal succes-post-modal" id="succes-post-modal">
			<div class="loader">
				<svg class="circular">
					<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-color="#f00"
						stroke-miterlimit="10" />
				</svg>
				<svg class="suc">
					<path class="checkmark__check" fill="none" d="M10.7,20.4l5.3,5.3l12.4-12.5"></path>
				</svg>
			</div>
			<p class="post-succes">Ваша заявка успешно отправлена!</p>
		</div>
	</div>
	<div style="display: none;">
		<div class="box-modal error-post-modal" id="error-post-modal">
			<div id="overallStatus red">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45px"
					height="45px" viewBox="0 0 45 45" version="1.1">
					<title>red_status</title>
					<defs>
						<path
							d="M8.43205769 38.1906149C2.90905516 38.17423 0.630739568 34.2579195 3.34303632 29.4437542L16.0266682 6.93106212C18.7390819 2.11668929 23.1497045 2.11171534 25.8729434 6.91091845L38.7464812 29.5981394C41.4720152 34.4013872 39.1981662 38.2818882 33.6812163 38.2655212L8.43205769 38.1906149Z"
							id="path-1" />
						<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox"
							id="filter-2">
							<feOffset dx="-2" dy="2" in="SourceAlpha" result="shadowOffsetOuter1" />
							<feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1" />
							<feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out"
								result="shadowBlurOuter1" />
							<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.245216259 0" type="matrix"
								in="shadowBlurOuter1" />
						</filter>
						<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox"
							id="filter-3">
							<feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetInner1" />
							<feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1"
								result="shadowInnerInner1" />
							<feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.4 0" type="matrix"
								in="shadowInnerInner1" />
						</filter>
					</defs>
					<g id="red-exclamation" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
						transform="translate(0.000000, -1.000000)">
						<g id="Rectangle-134">
							<use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1" />
							<use fill="#F1342F" fill-rule="evenodd" xlink:href="#path-1" />
							<use fill="black" fill-opacity="1" filter="url(#filter-3)" xlink:href="#path-1" />
							<use xlink:href="#path-1" />
						</g>
						<line class="exclamation" x1="21" y1="11" x2="21" y2="25" stroke-linecap="round" stroke="#fff"
							stroke-width="4" />
						<circle class="dot" cx="21" cy="32" r="2" fill="#fff" />
					</g>
				</svg>
			</div>
			<p class="error-text">{% if messages %}
				<ul class="box-modal-messages">
					{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
						{% endfor %}
				</ul>
				{% endif %}
			</p>
		</div>
	</div>


	<div class="{{ open_form }}" id="{{ open_form }}"></div>

	<!-- JS -->
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/slick.min.js' %}"></script>
	<script src="{% static 'js/jquery.arcticmodal-0.3.min.js' %}"></script>
	<script src="{% static 'js/parallax.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>

</html>